

<div class=" content-form">
    <h3>Bir Yorum Bırakın</h3>
    <form method="post">
        <input type="hidden" placeholder="İd" name="Turid" value="@ViewBag.deger" required />
        <input type="text" placeholder="Rumuz" name="Rumuz" required />
        <input type="text" placeholder="Mail adresi" name="mail" required />
        <textarea placeholder="Yorum" name="yorum"></textarea>
        <input type="submit" value="Gönder" />
    </form>
</div>
