@using proje.Models.Siniflar
@model List<Turlar>


<div class="box1-left">
    @foreach (var x in Model)
    {
        <div class="bot-img">
            <a href="/Turlar/TurDetay/@x.Id"><img src="@x.Resim" style="width:100px;height:65px;" alt="" /></a>
        </div>
        <div class="bot-desc1">
            <p>@x.Aciklama.Substring(0, 80)... </p>
        </div>
        <div class="clear"></div>
    }
</div>

